DATABASE_URL="postgresql://foysal:PasswordF2F%23@coreit.postgres.database.azure.com:5432/core_it?sslmode=require"

PORT=4000
NODE_ENV=development

JWT_SECRET="change-me-dev-secret"
JWT_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="change-me-dev-refresh-secret"
JWT_REFRESH_EXPIRES_IN="7d"

GOOGLE_CLIENT_ID="1073847698896-a28fsrag1agvb77kfarsdiq2qa5nn040.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_CALLBACK_URL="http://localhost:4000/api/auth/google/callback"

FRONTEND_URL="http://localhost:3000"

COOKIE_DOMAIN=

AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=coreitbdstorage;AccountKey=XN1ITehhOcgsQIWKQcC47M17BD+EpNuCCXjxYB6oi325bdaAT+iiXSaSyJDHaarv50uUEbe2OU4F+AStmL1KWg==;EndpointSuffix=core.windows.net"
AZURE_STORAGE_CONTAINER="uploads"
